{% extends 'users/base.html' %}
{% block title %}
Reset Password
{% endblock %}
{% block content %}
  {% load crispy_forms_tags %}
<div class="container">
  <div class="row pt-4 mt-4">
    <div class="col-xs-6 col-sm-6 col-md-6 mr-auto ml-auto">
      <div class="box pt-4">
        <form method="post" id="theform">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-3">Reset Password</legend>
            <div class="form-control">
               {{ form|crispy }}
            </div>

          </fieldset>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Request password reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <br>
{% endblock %}
