{% extends "users/base.html" %}

{% block title %}
Abag Home
{% endblock title %}
{% block content %}
<div class="container mt-4">
  <div class="row mt-4">
    <div class="col-xs-6 col-sm-6 col-md-10 ml-auto mr-auto mt-4">
      <div class="my-box mt-4" style="display:flex;justify-content:center;align-items:center;flex-direction:column;gap:1rem;font-weight:bold;font-size:30px;padding-top:100px;">
        <h2 class="text-center mb-3" style="font-weight:bold;font-size:35px;">Thank You</h2>
        <br>
        <small class="text-center">Your registration was successful, please go back to your app.</small>
      </div>
    </div>
  </div>
</div>
{% endblock content %}